.custom-btn {
    color: #fff;
    font-weight: 700;
    font-size: 3vmin;
    background-color: #7F00B2;
    border-radius: 8px;
    width: 50vmin;
    height: 10vmin;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .custom-btn:hover {
    background-color: #BC4ED8;
  }
  
  .whatsapp-icon {
    margin-right: 5px; /* Adicione um espaçamento entre o ícone e o texto */
    color: #fff;
    background-color: black;
  }

  @media (max-width: 600px) {
    .custom-btn {
      color: #fff;
      font-weight: 700;
      font-size: 3vmin;
      background-color: #7F00B2;
      border-radius: 8px;
      width: 50vmin;
      height: 10vmin;
      cursor: pointer;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .custom-btn:hover {
      background-color: #BC4ED8;
    }
    
    .whatsapp-icon {
      margin-right: 5px; /* Adicione um espaçamento entre o ícone e o texto */
      color: #fff;
      background-color: black;
    }
  }