.App {
  
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Change to distribute space evenly between items */
}

.card {
  background-color: transparent;
  border: 1px solid black;
  width: calc(33.33% - 20px); /* Adjusted width for all screen sizes */
  max-width: 300px; /* Added to prevent cards from becoming too wide */
  margin: 10px;
  border-radius: 12px;
  box-shadow: 4px 4px 12px #AAAAAA;
}

.card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card div {
  padding: 10px;
  background-color: white;
}

.card h1 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.card-body h1,
.card-body p {
  margin: 0;
  padding: 0;
  background-color: white;
}

.card span {
  font-size: 1.3rem;
  font-weight: bold;
  color: black;
  background-color: white;
}

.card button {
  background-color: #038554;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.card button:hover {
  background-color: rgb(1, 104, 64);
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

@media (max-width: 600px) {
  .card {
    width: calc(50% - 2px); /* Adjusted width for smaller screens */
    max-width: 100%; /* Allow cards to take full width on small screens */
  }
}
